@charset "UTF-8";

/* ----- css reset(各ブラウザで指定されているスタイルを初期化)と全体設定 ----- */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td,
img {
  margin: 0; /*ボックス外側の余白(値1つは上下左右をまとめて指定)*/
  padding: 0; /*ボックス内側の余白(値1つは上下左右をまとめて指定)*/
  border: 0; /*境界線指定*/
}

body {
  line-height: 2; /*行の高さ指定(数値のみの場合はfont-sizeの倍数)*/
  font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka,
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro"; /*フォントの種類指定(左から優先順位)*/
  font-size: 75%; /* フォントサイズ指定(%はブラウザに設定した標準文字サイズ(通常16px)に対する値)*/
  color: #333333; /*文字色指定*/
}

ol,
ul {
  list-style: none; /*リストマーカーの種類指定(noneはなし)*/
}

a {
  /*リンクの文字設定(マウスをのせる前)*/
  color: #999; /*文字色指定*/
  text-decoration: none; /*テキストの装飾指定(下線、上線など)(noneはなし)*/
}

a:hover {
  /*リンクの文字設定(マウスをのせた時)*/
  color: #c74b15; /*文字色指定*/
  text-decoration: underline; /*テキストの装飾指定(下線、上線など)(underlineは下線を引く)*/
}


h1 {
  padding: 10px;
}

/* ----- レイアウト ----- */

body {
  background-image: url(../img/main-bg.jpg);
  min-height: 100vh;
}

#container {
  /*container(入れ物、容器)の中に各要素(ボックス)を配置*/
  position: relative; /*ボックスの配置方法(relativeは相対位置配置)*/
  width: 100%; /*幅指定(100%は画面横幅いっぱいに表示)*/
  margin: auto; /*ボックス外側の余白(autoはボックス幅や隣接する他ボックス幅による自動余白割り当て)*/
}
/* ----- コンテンツ -----*/

.news {
  margin: 40px 0 0 300px;
  font-size: 25px;
}

.news h2 {
  color: #000; /*文字色指定*/
  font-size: 1.8em; /*フォントサイズ指定(emはフォントの高さを１とした相対指定)*/
  font-weight: normal; /*フォントの太さ指定(normalは標準)*/
  text-transform: uppercase; /*大文字と小文字の変換を指定するプロパティ(uppercaseは全ての文字を大文字に変換)*/
  margin-bottom: 50px; /*ボックス外側下の余白*/
}

.news li a {
  color: #000; /*文字色指定*/
}

.news li a:hover {
  text-decoration: none; /*テキストの装飾指定(下線、上線など)(noneはなし)*/
  color: #999; /*文字色指定*/
  cursor: pointer; /*マウスカーソルの形状を指定(pointerはリンクカーソル)*/
}
/* ----- ページ左側のメニュー ----- */

.sidemenu {
  position: fixed; /*ボックスの配置方法(fixedは固定配置)*/
  left: 20px; /*左からの距離(positionで指定している場合に適用)*/
  top: 200px; /*上からの距離(positionで指定している場合に適用)*/
  font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka,
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
  font-size: 25px; /* フォントサイズ指定(emはフォントの高さを１とした相対指定)*/
  text-align: center; /*行の水平方向の揃え方(centerは中央揃え)*/
  text-transform: uppercase; /*大文字と小文字の変換を指定するプロパティ(uppercaseは全ての文字を大文字に変換)*/
}

.sidemenu li a {
  color: #000; /*文字色指定*/
}

.sidemenu li a:hover {
  text-decoration: none; /*テキストの装飾指定(下線、上線など)(noneはなし)*/
  color: #999; /*文字色指定*/
  cursor: pointer; /*マウスカーソルの形状を指定(pointerはリンクカーソル)*/
}

.active {
  color: #999 !important; /*文字色指定*/
}

.copyright {
  position: fixed; /*ボックスの配置方法(fixedは固定配置)*/
  left: 20px; /*左からの距離(positionで指定している場合に適用)*/
  bottom: 10px; /*下からの距離(positionで指定している場合に適用)*/
  color: #000; /*文字色指定*/
  font-size: 0.9em; /*フォントサイズ指定(emはフォントの高さを１とした相対指定)*/
}
